.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px;
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#latest-stories {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3" "left-1 right-4";
    max-height: 900px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-5 {
    grid-area: right-4;
}

#story-card-1 a {
    display: grid;
    margin-left: 20%;
    text-align: center;
}

.story-card-text {
    padding-top: 10px;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a,
#story-card-5 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3,
#story-card-5 .story-card-text h3,
#story-card-6 .story-card-text h3,
#story-card-7 .story-card-text h3,
#story-card-8 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4,
#story-card-5 .story-card-text h4,
#story-card-6 .story-card-text h4,
#story-card-7 .story-card-text h4,
#story-card-8 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img,
#story-card-5 img,
#story-card-6 img,
#story-card-7 img,
#story-card-8 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-board {
    flex-basis: 32%;
    flex-grow: 1;
}

.story-board .story-card-text h3 {
    color: rgba(150, 16, 150, 0.534);
    font-size: large;
}
.story-board .story-card-text h4 {
    color: rgba(150, 16, 150);
    font-size: medium;
}
.story-board .story-card-text .pub {
    color: rgb(71, 71, 71);
    font-size: small;
}

#story-board-1 img,
#story-board-2 img,
#story-board-3 img,
#story-board-4 img,
#story-board-5 img,
#story-board-6 img {
    width: 50%;
    max-height: 120px;
    margin-right: 5px;
}

.story-board a {
    padding-top: 10px;
}

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
}

#story-image {
    width: 400px;
    max-height: 400px;
}