<div class="story-card" id="story-board-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if position < 5 %}
            <img src="{{ story.image }}">
        {% else %}
            <img src="{{ story.image }}">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.pub_date }}</h4>
        </div>
    </a>
</div>

<!-- duplicate this page to another and add it to the for loop as per round 1 for the start of the index page -->
<!-- // can then style different second half ??  -->

<!-- look at logice on 3 - 11 -->